 <div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7  offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-1 font-weight-bold">Login Form</h3>
                        </div>
                        <div class="panel-body p-2" >
                            <form [formGroup]="loginForm ">
                                <div class="form-group pt-3 p-3">
                                    <div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">
                            
                                        <span class="fa fa-user p-2"></span>
                                        <input type="text"formControlName="username"  placeholder=" Enter User Name">
                                    </div>
                                </div>
                                <small *ngIf="loginForm.controls['username'].dirty&&loginForm.hasError('required','username')" class="text-danger m-4">*Username is required</small>
                        
                                <div class="form-group pt-3 p-3">
                                    <div class="input-field" [class.error]="loginForm.controls['password'].dirty&&loginForm.hasError('required','password')">
                        
                                        <span class="fa fa-lock p-2"></span>
                                        <input formControlName="password" [type]="type" placeholder="Enter Password">
                                        <span (click)="hideShowPass()" class="fa fa-eye-slash"></span>
                                    </div>
                                </div>
                                <small *ngIf="loginForm.controls['password'].dirty&&loginForm.hasError('required','password')" class="text-danger m-4">*Password is required</small>
                        
                                <!--<div class="form-inline fr mt-4">
                                    <a id="forget" class="font-weight-bold m-4">Forgot Password</a>
    
                                </div>-->
                                <button (click)="onLogin()" type="submit" class="btn btn-primary btn-block mt-4  w-50">Login</button>
                                <div class="text-center pt-4 text-muted">don't have account?<a id="forget" routerLink="/signup">Sign Up</a></div>    
                            </form>
    </div>
    <div class="mx-3 my-3 py-2 bordert">
        <div class="text-center py-3">
            <a href="https://www.facebook.com"target="_blank" class="px-2"><img src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt="facebook"></a>
            <a href="https://www.google.com"target="_blank" class="px-2"><img src="https://www.svgrepo.com/show/355037/google.svg"alt="google"></a>
            <a href="https://www.twitter.com"target="_blank" class="px-2"><img src="https://www.svgrepo.com/show/126780/twitter.svg" alt="twitter"></a>

</div>