<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<h4>{{username}}'s Watchlist</h4>

<table style="width:100%">
  <tr>
    <th>Country</th>
    <th>Confirmed Cases</th>
    <th>Recovered Cases</th>
    <th>Deaths</th>

  </tr>
  <tr *ngFor="let u of userData">
    <td>{{u.country}}</td>
    <td>{{u.confirmed}}</td>
    <td>{{u.recovered}}</td>
    <td>{{u.deaths}}</td>
  </tr>
</table>

</body>
</html>
