<form [formGroup]="updateForm" (ngSubmit)="updateSubmited()">
  <div class=" form-outline form-white mb-4">
    <input type="email" id="typeEmailX" class="form-control form-control-lg" formControlName="email" />
    <label class="form-label mb-2" for="typeEmailX">Email</label>
  </div>  
  <div class="form-outline form-white mb-4">
    <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="password" />
    <label class="form-label" for="typePasswordX"> New Password</label>
  </div>
  <!-- <p class="small mb-1 pb-lg-2"><a class="text-white-20" href="#!">Forgot password?</a></p> -->
  <button class="btn btn-outline-dark btn-lg px-5" type="submit">Submit</button>
</form>
