<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink='/'>Covid-19 Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink='/' *ngIf="checkLogin()">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink='countries'>Countries</a>
            </li> -->
            <li  class="nav-item">
                <a class="nav-link" routerLink='countries' *ngIf="checkLogout()">User Page</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" routerLink='login' *ngIf="checkLogin()">Login</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" routerLink='signup' *ngIf="checkLogin()">Signup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='watchlist' *ngIf="checkLogout()">WatchList</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" routerLink='change-password' *ngIf="checkLogout()">Change Password</a>
            </li>
            <!-- <li  class="nav-item">
                <a class="nav-link" routerLink='signout'>Sign Out</a>
                <h6 style = "text-align: right;" >Welcome</h6>
            </li> -->
           
        </ul>
    </div>
</nav>